.wheel {
  width: 15em;
  height: 15em;
  position: relative;
  overflow: hidden;
}

.wheel div {
  width: 15em;
  height: 15em;
  position: absolute;
  top: 0;
  left: 0;

}

.wedge {
  width: 100%;
  height: 100%;
  background-color: #aaa;
}

.red {
  background-color: red;
}

.yellow {
  background-color: #ff0;
}

.green {
  background-color: #0f0;
}

.teal {
  background-color: #0ff
}

.blue {
  background-color: #00f;
}

.purple {
  background-color: #f0f;
}
